# PostgreSQL
POSTGRES_USER=lib_user
POSTGRES_PASSWORD=lib_pass
POSTGRES_DB_CATALOG=catalog_db
POSTGRES_DB_USER=user_db
POSTGRES_DB_LENDING=lending_db
POSTGRES_DB_DIGITAL=digital_db

# Services Ports
CATALOG_PORT=8001
USER_PORT=8002
LENDING_PORT=8003
DIGITAL_PORT=8004
GATEWAY_PORT=8000

# Internal URLs 
CATALOG_INTERNAL_URL=http://catalog-service:8001
USER_INTERNAL_URL=http://user-service:8002
DIGITAL_INTERNAL_URL=http://digital-service:8004